@media only screen and (max-width: 600px) {
p {
    margin: 0;
}

body {
    margin: 0;

}

.cont {
    height: auto;
    margin: auto;
    text-align: center;
    display: grid;
    position: relative;
    height: 75vh;
    grid-template-rows: 1fr 3fr;
    line-height: 1;
}



.riga1 {
    display: grid;
    position: relative;
    height: auto;
    grid-template-rows: 0.001fr 1fr 1fr 1fr 1fr 1fr 1fr 0.001fr;
}

.lettera {
    height: auto;
    font-size: calc(1em + 3vw);
    padding-bottom: 30%;
}

.lettver{
    display: grid;
    position: relative;
    height: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
}

.scelte {
    position: relative;
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 1fr 0.1fr;
    grid-template-rows: 1fr;
    margin-top: 5%;
}

.capt{
    height: auto;
}

.aaa {
    margin-top: 90%;
    position: relative;
    height: auto;
    line-height: 0;
    font-size: calc(3em + 6vw);
    cursor: pointer;
    margin: auto;
}

.risultato {
    position: absolute;
    z-index: 10;
    height: 100vh;
    width: 100vw;
    background: white;
    color: #fff;
    text-align: center;
}

.giusto {
    font-size: calc(0.5em + 5vw);
    color: black;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sbagliato {
    font-size: calc(0.5em + 5vw);
    color: black;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rigapunti {
    display: grid;
    position: relative;
    height: auto;
    grid-template-columns: 0.8fr 0.2fr 0.4fr 1.5fr;
    padding-top: 3%;
    padding-bottom: 2%;
}

.imma {
    height: auto;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.punti {
    font-size: calc(0.9em + 2vw);
    margin: auto;
    font-style: italic;
    font-family: 'Lato';
    font-weight: 50;
}

.escl {
    text-align: center;
    opacity: 0.1;
}

.virgolette {
    display: grid;
    position: relative;
    height: auto;
    grid-template-columns: 1.3fr 6fr 1.3fr;
}

.up {
    text-align: right;
    opacity: 0.1;
    height: auto;
}

.down {
    text-align: left;
    opacity: 0.1;
    height: auto;
}

.buu {
    height: calc(0.5em + 7.75vw);
}

.timer {
    margin-top:5%;
    height: auto;
    line-height: 0;
    font-size: calc(1.5em + 2.7vw);
    text-align: center;
    font-family: 'Lato';
}
}
/* dimensioni telefono */
@media only screen and (min-width: 600px) {
    p {
        margin: 0;
    }
    
    body {
        margin: 0;
        font-family: 'Lato';
    }
    
    .cont {
        height: auto;
        margin: auto;
        text-align: center;
        display: grid;
        position: relative;
        height: auto;
        grid-template-columns: 3fr 1fr;
        line-height: 1;
    }
    
    
    
    .riga1 {
        display: grid;
        position: relative;
        height: auto;
        grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr;
    }
    
    .lettera {
        height: auto;
        font-size: calc(0.5em + 3vw);
        padding-bottom: 30%;
    }
    
    .scelte {
        position: relative;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.25fr 1fr 1fr 1fr 0.25fr;
    
    }
    
    .aaa {
        position: relative;
        height: auto;
        line-height: 0;
        padding-top: 25%;
        padding-bottom: 25%;
        font-size: calc(1em + 6vw);
        cursor: pointer;
    }
    
    .risultato {
        position: absolute;
        z-index: 10;
        height: 100vh;
        width: 100vw;
        background: white;
        color: #fff;
        text-align: center;
    }
    
    .giusto {
        font-size: calc(0.5em + 5vw);
        color: black;
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .sbagliato {
        font-size: calc(0.5em + 5vw);
        color: black;
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .rigapunti {
        display: grid;
        position: relative;
        height: auto;
        grid-template-columns: 0.8fr 0.2fr 0.4fr 1.5fr;
        padding-top: 1%;
    }
    
    .imma {
        height: auto;
        position: relative;
        float: left;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    .punti {
        font-size: calc(0.01em + 2vw);
        margin: auto;
    }
    
    .escl {
        text-align: center;
        opacity: 0.1;
    }
    
    .virgolette {
        display: grid;
        position: relative;
        height: auto;
        grid-template-columns: 2.5fr 6fr 2.5fr;
    }
    
    .up {
        text-align: right;
        opacity: 0.1;
        height: auto;
    }
    
    .down {
        text-align: left;
        opacity: 0.1;
        height: auto;
    }
    
    .buu {
        height: calc(0.5em + 7.75vw);
    }
    
    .timer {
        height: auto;
        line-height: 0;
        font-size: calc(0.5em + 2.7vw);
        text-align: center
    }
  }