p{
    margin: 0;
}

body { margin:0;

}

.cont{
    height: auto;
    margin: auto;
    text-align: center;
    display: grid;
    position: relative;
    height: auto;
    grid-template-columns: 3fr 1fr;
    line-height: 1;
}



.riga1{
    display: grid;
    position: relative;
    padding: 5 px;
    height: auto;
    grid-template-columns: 2.5fr 1fr 1fr 1fr 1fr 1fr 1fr 2.5fr;
}

.lettera{
    height: auto;
    font-size: calc(0.5em + 3vw);
    padding-bottom: 30%;
}

.scelte{
    position: relative;
    grid-template-columns: 1fr;
    
}

.aaa{
    height: auto;
    line-height: 0;
    padding-top: 25%;
    padding-bottom: 25%;
    margin: auto;
    font-size: calc(1em + 6vw);
    cursor: pointer;
}

.risultato{
    position: absolute;
    z-index: 10;
    height:100vh;
    width: 100vw;
    background:white;
    color:#fff;
    text-align: center;
}

.giusto{
    font-size: calc(0.5em + 5vw);
    color: black;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sbagliato{
    font-size: calc(0.5em + 5vw);
    color: black;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rigapunti{
    display: grid;
    position: relative;
    height: auto;
    grid-template-columns: 1fr 0.2fr 0.4fr 1.5fr;
}

.imma{
    height: auto;
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.punti{
    font-size: calc(0.01em + 2vw);
    margin: auto;
}

.escl{
    text-align: center;
    opacity: 0.1;
}

.virgolette{
    display: grid;
    position: relative;
    height: auto;
    grid-template-columns: 2.5fr 6fr 2.5fr;
}

.up{
    text-align: right;
    opacity: 0.1;
    height: auto;
}

.buu{
    height: calc(1em + 8.5vw);
}